<div class="headline">
  <div class="headline-row">
    <div>
      <div class="title">Article's that match your search</div>
      <h4 class="SearchResultsHeadings__ResultCountText">720 article's are available</h4>
    </div>
    <div class="right-pull">
      <div class="sortBy">
        <p>Sort by:</p>
        <a href="">Most Popular</a>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div onclick="openfilter()" class="filter-btn outlined filters-toggle-btn" href="#">
        <span class="label" title="Filters">Filters</span>
        <img src="../../assets/images/filtertr.png">
      </div>
    </div>
  </div>
  <div id="filter" class="display-filter">
    <ul class="filter">
      <li class="select-box">
        <div class="nice-select custom-t right" tabindex="0"><span class="current">All websites</span>
        <ul class="list">
          <li data-value="ותאם אישית<" class="option selected">Sport1</li>
          <li data-value="ותאם אישית< 1" class="option">One.co.il</li>
          <li data-value="ותאם אישית< 2" class="option">Bleacher Report</li>
          <li data-value="ותאם אישית< 3" class="option">ESPN</li>
          <li data-value="ותאם אישית< 3" class="option">Ufc.com</li>
        </ul>
      </div>
      </li>
      <li class="select-box">
        <div class="nice-select custom-t right" tabindex="0"><span class="current">All sports</span>
        <ul class="list">
          <li data-value="ותאם אישית<" class="option selected">All sports</li>
          <li data-value="ותאם אישית< 1" class="option">Baseball</li>
          <li data-value="ותאם אישית< 1" class="option">Soccer</li>
          <li data-value="ותאם אישית< 2" class="option">Basketball</li>
          <li data-value="ותאם אישית< 3" class="option">Tennis</li>
          <li data-value="ותאם אישית< 3" class="option">Football</li>
        </ul>
      </div>
      </li>
    </ul>
  </div>
</div>
