<div id="sidebar" class="sidebar" >
  <div class="sidebar_content">
    <div class="spaces-bar">
      <div class="spaces-bar-content">
        <div class="sidebar-top">
          <div class="toolnew">
            <li id="home" class="sidebar_link" data-toggle="tooltip" data-placement="right" title="Home">
              <a data-tab="tab-1" href="#tab1" >
                <div class="sidebar_content_col">
                  <div class="sidebar_content_col_inner sidebar_content_col_inner_1">
                    <img class="logo" src="../../assets/images/logoill.png" alt="" />
                  </div>
                </div>
              </a>
            </li>
          </div>
          <div class="toolnew">
            <li id="#" class="group_list_style" onclick="menu()">
              <a data-tab="tab-1" href="#tab1" class="sidebar_link" data-toggle="tooltip" data-placement="right" title="Feed">
                <div class="sidebar_content_col">
                  <div class="sidebar_content_col_inner sidebar_content_col_inner_1">
                    <i class="material-icons">menu</i>
                  </div>
                </div>
              </a>
            </li>
          </div>
        </div>
        <div class="sidebar-body">
          <div class="toolnew">
            <li id="SaveArticle" class="group_list_style">
              <a data-tab="tab-1" href="#tab1" class="sidebar_link" data-toggle="tooltip" data-placement="right" title="Saved Items">
                <div class="sidebar_content_col">
                  <div class="sidebar_content_col_inner sidebar_content_col_inner_1">
                    <i class="material-icons">bookmark_border</i>
                  </div>
                </div>
              </a>
            </li>
          </div>
          <li class="position-relative group_list_style">
            <a data-tab="tab" href="#tab15" class="sidebar_link" onclick="Notificationopen()" data-toggle="tooltip" data-placement="right" title="Notifications">
              <div class="sidebar_content_col">
                <div class="sidebar_content_col_inner sidebar_content_col_inner_1">
                  <i class="material-icons">notifications_none</i>
                </div>
              </div>
            </a>
          </li>
          <div class="toolnew">
            <li id="dark-mode-toggle" class="dark-mode-toggle group_list_style">
              <a data-tab="#" href="#tab1" class="sidebar_link"  onclick="myFunction();" data-toggle="tooltip" data-placement="right" title="Switch lighting Mode">
                <div class="sidebar_content_col">
                  <div class="sidebar_content_col_inner sidebar_content_col_inner_1'">
                    <i class="material-icons-outlined">brightness_2</i> <!-- wb_sunny -->
                  </div>
                </div>
              </a>
            </li>
          </div>
        </div>
        <div class="sidebar-bottom">
          <li class="position-relative group_list_style">
            <a data-tab="tab" href="#tab13" class="'sidebar_link'" data-toggle="tooltip" data-placement="right" title="Profile" onclick="Settingsopen()">
              <div class="sidebar_content_col">
                <div class="sidebar_content_col_inner sidebar_content_col_inner_1">
                  <i href="#" class="btn-custom profile align">
                    <img src="../../assets/images/profile.png"></i>
                </div>
              </div>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
