<div id="SaveForLater"  [ngClass]="{'display-none':defaultSection}" >
  <div class="SaveForLater-content">
    <div class="savearticles">
      <div class="bottbuttons">
        <div class="save-img"><img src="assets/images/logosave.png"></div>
        <div class="textsave">
          <p>אין לך עדיין כתבות שמורות, חזור לעמוד הכתבות וסמן כתבות שתרצה לשמור למועד מאוחר יותר</p>
        </div>
        <div class="videorow" onclick="playButton()">
          <img src="assets/images/play.png">
          <button class="btn textsavebutton">הראו לי איך</button>
        </div>
      </div>
      <div class="onboarding-sceneBg"></div>
    </div>
  </div>
</div>
<div [ngClass]="{'display-none':activeIframe}" class="iframe-mainContainer">
  <button class="closeButton" (click)="closeIframe()"><img src="assets/images/cross.png" width="20px"/></button>
  <div class=""  >
    <iframe  id="iframVideo1" class="embed-responsive-item" width="500" height="300" [src]="youtubeVideo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="">

<div class="small_desk ">
    <div *ngFor="let article of articles;let i =index"  class="margin-top">
      <div class="tile-post">
        <div class="hover-options">
          <span class="Share-icon" ng-click="::openSharer($event, 'share', item)"  flow="left" tooltip="Share"></span>
        </div>
        <!-- Post link-->
        <a class="post-link" (click)="addVisitor(article._id,article.link)" >
          <div class="post-photo video-photo">
            <!-- logo -->
            <div class="source-logo"  >
              <img class="image-source" (click)="applySourceFilter(article.source)" src="https://www.google.com/s2/favicons?domain={{article.link}}">
            </div>
            <div [ngClass]="{'player-image':article.playerVideo}"></div>
            <!--<span class="icon-play-plain video-modal video-play-button-external">
               <span class="duration">6:31</span>
           </span>-->
            <!-- post main image -->
            <img class="image_url" src="{{article.image_url}}" >

          </div>
          <div class="postInfo videoinfo">
            <!-- Post Title-->
            <h3 class="title">{{article.title}}</h3>
            <!-- Post publish time-->
            <span class="created">{{article.published_date | date}}</span>
          </div>
        </a>
        <div class="post-meta">
          <div class="left-pull">
            <button class="btn btn-menu upvote"  flow="up" tooltip="Upvote" (click)="addUpvote(article._id)">
              <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill"><path pid="0" d="M13.162 3.813a2 2 0 01.465.465l6.674 9.343a1 1 0 01-1.102 1.539l-4.032-1.21a1 1 0 00-1.277.816l-.767 5.375a1 1 0 01-.99.859h-.266a1 1 0 01-.99-.859l-.767-5.375a1 1 0 00-1.278-.816l-4.031 1.21a1 1 0 01-1.102-1.54l6.674-9.342a2 2 0 012.79-.465z" _fill="#fff" fill-rule="evenodd"></path></svg>
              <span>{{article.upvote}}</span>
            </button>
            <div class="btn-group dropup btn-g-height">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-g-height" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" >
                <i class="material-icons icon-menu"
                   tooltip="More options" flow="up">more_horiz</i>
              </button>
              <div class="dropdown-menu more-open " aria-labelledby="dropdownMenuButton" id="{{i}}">
                <button class="dropdown-item"  (click)="hideArticle(article._id)">Hide post</button>
                <button class="dropdown-item"  (click)="hideArticle(article._id)">Broken link</button>
                <button class="dropdown-item"  (click)="hideArticle(article._id)">Report NSFW</button>
                <button class="dropdown-item"  (click)="removeFavorite(article._id)">Remove Favorite</button>
              </div>
            </div>
          </div>
          <div class="click-count"  flow="up" tooltip="View" ng-if="::item.clicks > 0">
            <i class="material-icons">visibility</i>
            <span>{{article.visitor}}</span>
          </div>
        </div>
      </div>
    </div>
</div>

</div>



