<div class="header top-nav">
  <div class="inner-content">
    <div class="pull-left nav-icon">
      <div class="googleapps_icon">
        <button class="btn btn-custom GoogleApps align" (click)="manageGoogleBar()" data-toggle="tooltip"
                data-placement="bottom" data-original-title="Google Apps">
          <img src="../../assets/images/googleappsoff.svg" alt="googleappsoff">
          <img src="../../assets/images/googleappson.svg" class="img-top" alt="googleappson">
        </button>
      </div>
      <div class="search-container">
        <form ng-submit="search(searchModel[activeSearch], $event, activeSearch)" id="searchForm"
              class="ng-pristine ng-valid ng-valid-maxlength">

          <div class="input">
            <i class="material-icons">search</i>
            <input class="searchBar" maxlength="50" type="text" ng-model="searchModel.google"
                   placeholder="Search Google" tabindex="2" ng-focus="setSearch('google', $event)"
                   lookahead="" autocomplete="off">
          </div>
        </form>
      </div>
    </div>

    <div class="pull-right top-logo">
      <div class="socials-icon">
        <ul>
          <li data-toggle="tooltip" data-placement="bottom" title="Add shortcuts">
            <a  (click)="handleChromeTopSites()">
              <svg width="11" height="10" viewBox="0 0 11 10" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6.16379 0.353027H4.83615V4.33573L0.853149 4.33573L0.853149 5.66337H4.83615V9.6465H6.16379V5.66337H10.1466V4.33573L6.16379 4.33573V0.353027Z"
                      fill="#202124"></path>
              </svg>
            </a>
          </li>
          <li data-toggle="tooltip" data-placement="bottom" title="Amazon seller">
            <a href="https://sellercentral.amazon.com/"><img src="../../assets/images/Amazon seller.png"></a>
          </li>
          <li data-toggle="tooltip" data-placement="bottom" title="Facebook">
            <a href="https://facebook.com/"><img src="../../assets/images/Facebook.png"></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="Whatapp"><a
            href="https://web.whatsapp.com/"><img src="../../assets/images/Whatapp.png"></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="Amazon"><a
            href="https://amazon.com/"><img src="../../assets/images/Amazon.png"></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="Shopify"><a
            href="https://Shopify.com/"><img src="../../assets/images/Shopify.png"></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="Gmail"><a
            href="https://mail.google.com/"><img src="../../assets/images/gmail.png"></a></li>
        </ul>
      </div>
      <!--  <a class="logo" href="#"><img src="images/logo.png" alt="" class="img-responsive"></a>-->
    </div>
  </div>
</div>


<!--sidebar google -->
<div class="sidebar_google "  [ngClass]="{'active':google_bar}" id="googleapps">
  <div class="sidebar_google_content">
    <div class="GoogleAppsList">
      <ul>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://myaccount.google.com" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Account.png"></div>
            <span class="sada">Account</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://www.google.com" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Search.png"></div>
            <span class="sada">Search</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://drive.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/drive.png"></div>
            <span class="sada">Drive</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://mail.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/gmail.png"></div>
            <span class="sada">Gmail</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://calendar.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Calender.png"></div>
            <span class="sada">Calendar</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://maps.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Maps.png"></div>
            <span class="sada">Maps</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Translate.google.com/" target="_blank">
            <img src="../../assets/images/Googleapps/Translate.png">
            <span class="sada">Translate</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://www.youtube.com/" target="_blank">
            <img src="../../assets/images/Googleapps/Youtube.png">
            <span class="sada">Youtube</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Earth.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Earth.png"></div>
            <span class="sada">Earth</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Photos.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Photos.png"></div>
            <span class="sada">Photos</span>
          </a>
        </li>
      </ul>
      <span jsname="hgDUwe" class="dGrefb"></span>
      <ul>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://sheets.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/sheets.png"></div>
            <span class="sada">Sheets</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://docs.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/docs.png"></div>
            <span class="sada">Docs</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Slides.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Slides.png"></div>
            <span class="sada">Slides</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Blogger.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Blogger.png"></div>
            <span class="sada">Blogger</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Hangout.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Hangout.png"></div>
            <span class="sada">Hangout</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Mybusiness.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/My business.png"></div>
            <span class="sada">My business</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://classroom.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/classroom.png"></div>
            <span class="sada">Classroom</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Keep.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Keep.png"></div>
            <span class="sada">Keep</span>
          </a>
        </li>
      </ul>
      <span jsname="hgDUwe" class="dGrefb"></span>
      <ul>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://Jamboard.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Jamboard.png"></div>
            <span class="sada">Jamboard</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://www.google.co.il/save" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Collections.png"></div>
            <span class="sada">Collections</span>
          </a>
        </li>
        <li class="ligoogle">
          <a class="sidebar_applink" href="https://artsandculture.google.com/" target="_blank">
            <div class="dsds"><img src="../../assets/images/Googleapps/Arts and culture.png"></div>
            <span class="sada">Arts and culture</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal" abindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <dialog [ngClass]="{'sourceForm bookmark-modal new-source': chromeTopSite}" ><div class="modal__background"></div><div class="modal__container shadow2">
    <button class="btn-icon modal__close-btn" (click)="handleChromeTopSites()">
      <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill"><path pid="0" d="M12 9.44l3.91-3.91a1.81 1.81 0 012.56 2.56L14.56 12l3.91 3.91a1.81 1.81 0 01-2.56 2.56L12 14.56l-3.91 3.91a1.81 1.81 0 11-2.56-2.56L9.44 12 5.53 8.09a1.81 1.81 0 112.56-2.56L12 9.44z" _fill="#FFF" fill-rule="evenodd" ></path></svg></button>
    <div class="new-source__header"><h3>Edit shortcut</h3><p>
      Want to add new shortcut?
      Insert its link below to add it to your quick access row.
    </p><form><div class="text-field"><div class="text-field__box field active"> <div class="text-field__input-container"><label class="text-field__label micro2" style="display: none;">Source url</label><input required="required" type="url" placeholder="Paste url" aria-label="Source url" autofocus="autofocus" class="text-field__input"></div> <button type="submit" class="text-field__right-slot btn btn-invert">Add</button></div>
      <div class="text-field__hint micro2">
      </div></div></form></div>
    <div class="new-source__footer no-padding"><div class="radio">
      <div class="radio-item">
        <img src="./../assets/images/Whatapp.png">
        <span class="webAddress websiteLink">https://web.whatsapp.com/</span>
        <button class="btn-icon modal__close-btn chromeTopSitesCrossButton" >
          <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill"><path pid="0" d="M12 9.44l3.91-3.91a1.81 1.81 0 012.56 2.56L14.56 12l3.91 3.91a1.81 1.81 0 01-2.56 2.56L12 14.56l-3.91 3.91a1.81 1.81 0 11-2.56-2.56L9.44 12 5.53 8.09a1.81 1.81 0 112.56-2.56L12 9.44z" _fill="#FFF" fill-rule="evenodd" ></path></svg></button>

      </div>
      <div class="radio-item">
        <img src="./../assets/images/Amazon seller.png">
        <span class="webAddress">https://sellercentral.amazon.com/</span>
      </div>
      <div class="radio-item">
        <img src="./../assets/images/Facebook.png">
        <span class="webAddress">https://www.facebook.com/</span>
      </div>
      <div class="radio-item">
        <img src="./../assets/images/Amazon.png">
        <span class="webAddress">https://www.amazon.com/</span>
      </div>
      <div class="radio-item">
        <img src="../../assets/images/gmail.png">
        <span class="webAddress">https://mail.google.com/</span>
      </div>
      <div class="radio-item">
        <div>
          <img src="./../assets/images/Shopify.png">
          <span class="webAddress">https://www.shopify.com/</span>
        </div>
        <div>
                </div>
      </div>
    </div><button class="btn btn-big btn-invert new-source__confirm">Continue</button></div></div></dialog>
</div>
