.chromeTopSitesCrossButton{
  height: 21px;
  width: 43px;
  overflow: hidden;
  border: none;
  margin-top: -8px
}
.websiteLink{
  margin-right: 65px;
}

.transparent-background{
  background-color: transparent;
}
.d-block{
  display: block ;
}
.red-border  {
 border: 2px solid red;
}
.display-none{
  display: none;
}
.navbar-custom{
  width: 84% !important;
  position: relative !important;
  top: 136px;
  margin: auto;
  z-index: 5;
}
.custom-sties{
  width: 84% !important;
  margin: auto;
  position: relative !important;
  top: 97px
}
.social-icons-custom{
  background: white;
  border-radius: 16px;
  padding: 5px
}
