.chromeTopSitesCrossButton{
  height: 21px;
  width: 43px;
  overflow: hidden;
  border: none;
  margin-top: -8px
}
.websiteLink{
  margin-right: 65px;
}
.topsites-container{
  height: 330px;
  width: 500px;
}
.transparent-background{
  background-color: transparent;
}
