<ul class="aboveTheFold" id="banner-container">

  <!-- article item -->
  <div class="article">
    <div class="tile-post">
      <div class="hover-options " >
        <span class="Share-icon " data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <div class="hot-article-badge" data-toggle="tooltip" data-placement="top" title="Super hot">
            <img class="image-source" src="../../assets/images/very-hot.svg">
          </div>
          <img class="image_url footer-pan" src="https://a.espncdn.com/photo/2020/0603/r704734_600x400_3-2.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">NASCAR to run first dirt race in Cup since 1970</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <div class="hot-article-badge" data-toggle="tooltip" data-placement="top" title="hot">
            <img class="image-source" src="../../assets/images/hot.svg">
          </div>
          <img class="image_url footer-pan" src="https://a.espncdn.com/photo/2020/0223/r670151_600x400_3-2.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">Fury-Wilder III moving off Dec.19; new date TBA</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item"><i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <div class="hot-article-badge">
            <img class="image-source" src="../../assets/images/very-hot.svg">
          </div>
          <img class="image_url footer-pan" src="https://a.espncdn.com/photo/2020/0928/r752754_576x324_16-9.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">Eagles' Doug Pederson must 'unclutter' Carson Wentz's mind, and his own</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <div class="hot-article-badge">
            <img class="image-source" src="../../assets/images/hot.svg">
          </div>
          <img class="image_url footer-pan" src="https://i.guim.co.uk/img/media/df6b014333671a36264936696f8f3f536637049b/0_182_5457_3274/master/5457.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=bde0d3bb113e6a78075d53b9f6e9dd9d">
        </div>
        <div class="postInfo">
          <h3 class="title">Lampard reminds Chelsea players of responsibilities after vxcvdvs</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <img class="image_url footer-pan" src="https://cdn.vox-cdn.com/thumbor/Pci1jVpYIWOncl0Tptq9_mo10wE=/960x0:4527x1868/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/21967983/1145319572.jpg.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">Former Blazers Teammates Turner, Lillard Still Kidding Around</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <img class="image_url footer-pan" src="https://olympics.nbcsports.com/wp-content/uploads/sites/10/2020/10/GettyImages-1178431994-e1602704225110.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">Alpine skiers to start World Cup season unlike any other</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article">
    <div class="tile-post">
      <div class="hover-options">
        <span class="Bookmark-icon" data-toggle="tooltip" data-placement="left" title="Save for later"></span>
        <span class="Share-icon" data-toggle="tooltip" data-placement="left" title="Share"></span>
        <span class="More-icon" data-toggle="tooltip" data-placement="left" title="More"></span>
      </div>
      <a class="post-link" target="_blank" href="https://www.espn.com/blog/ncfnation/post/_/id/140684/nick-sabans-open-door-policy-a-factor-in-alabamas-draft-success">
        <div class="post-photo">
          <img class="image_url footer-pan" src="https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,h_538,q_auto,w_960/v1/pgatour/editorial/2020/10/16/tiger-crouch-putter-1694-getty.jpg">
        </div>
        <div class="postInfo">
          <h3 class="title">Inside the Field: ZOZO CHAMPIONSHIP @ SHERWOOD</h3>
          <span class="source" ng-bind="::item.source.title">Sport5.co.il</span>
        </div>
      </a>
      <div class="post-meta">
        <div class="left-pull">
          <div class="book-save btn btn-custom transparent" data-toggle="tooltip" data-placement="top" data-custom-class="tooltip-primary" title="" data-original-title="Save item">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </div>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons icon-menu" data-toggle="tooltip" data-placement="top" data-original-title="More options">more_horiz</i>
            </button>
            <div class="dropdown-menu more-open" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Broken link</a>
              <a class="dropdown-item" href="#">Report NSFW</a>
            </div>
          </div>
        </div>
        <div class="click-count" data-toggle="tooltip" data-placement="top" data-original-title="View" ng-if="::item.clicks > 0">
          <i class="material-icons">visibility</i>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
</ul>

